{% extends "base.html" %}
  
{% block title %}Add New Orders {% endblock title %}
  
{% block content %}
<div class="col-md-12" style="margin-top: 20px;">    
    <form method="POST" class="post-form" action="/addnew">  
    {% csrf_token %}  
    <div class="container">  
       <div class="col-12">  
       <h3>Enter Customer Details</h3>
     </div>    
    <div class= "row mb-3" > 
        <div class="col-md-3 mb-3" aria-placeholder="Name"><label> Customer's Name: </label>   {{ form.name }} </div>
        <div class="col-md-3 mb-3"> <label> Email Address: </label> {{ form.email }}  </div>
        <div class="col-md-3 mb-3"><label> Phone Number: </label>{{ form.phone }}</div>
        <div class="col-md-3 mb-3"><label> Address: </label>{{ form.address }}</div>
   </div>
    <div class= "row mb-3" >
        <h5>Order Details</h5>  
        <div class="col-md-3 mb-3"> <label> Order Status:</label>  {{ form.status }} </div>
        <div class="col-md-3 mb-3"> <label> Paid in:</label>  {{ form.paid }} </div>
        <div class="col-md-3 mb-3"> <label> Mode of Payment:</label>  {{ form.payment }} </div>
    </div>
    <div class= "row mb-3" >
        <div class="col-md-6 mb-3"  rows="4" > <label> Notes/Comments: </label> {{ form.notes }}</div>
        <div class="col-md-3 mb-3"><label> Number of figures: </label>{{ form.figures }}</div>
    </div>
    <div class="mb-3"> <button type="submit" class="btn btn-dark mb-3">Submit</button> </div> 
    </div>    
    </form> 
</div>  
{% endblock content %} 

